<p id="notice"><%= notice %></p>

<h1><%= @survey.name %></h1>

<%= form_tag answer_survey_path(@survey) do %>
  <ol class="questions">
    <%- for question in @survey.questions.order(:id) %>
      <li>
        <%= simple_format question.content %>
        <%- if question.choices.count > 0 %>
          <ol class="choices">
            <%- for choice in question.choices %>
              <li class="choice">
                <%= radio_button_tag "answers[#{question.id}][content]", choice.content, :checked => (question.answers.find_by_user_id(current_user.id).try(:content) == choice.content) %>
                <%= label_tag "answers[#{question.id}][content]", choice.content %>
              </li>
            <%- end %>
          </ol>
        <%- else %>
          <%= text_area_tag "answers[#{question.id}][content]", question.answers.find_by_user_id(current_user.id).try(:content) %>
        <%- end %>
      </li>
    <% end %>
  </ol>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
