<h1><%= @survey.name %></h1>

<div><%=raw @survey.description %></div>

<%= form_tag answer_survey_path(@survey) do %>
  <ol class="questions">
    <%- for section in @survey.sections %>
      <%= render (section.style.empty? ? 'default' : section.style), :section => section %>
    <% end %>
  </ol>
  <div class="actions">
    <%= submit_tag "Continue" %>
  </div>
<% end %>
