<!DOCTYPE html>
<html>
<head>
  <title>Surveys</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <hgroup class="user">
      <% if current_user %>
        Welcome <%= current_user.name %>!
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        Sign in with: 
        <%= link_to "/auth/facebook" do %>
          <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/facebook_32.png", :alt => "Facebook" %>
        <%- end %>
        <%= link_to "/auth/google_apps" do %>
          <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/google_32.png", :alt => "Google" %>
        <%- end %>
        <%= link_to "/auth/twitter" do %>
          <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/twitter_32.png", :alt => "Twitter" %>
        <%- end %>
        <%= link_to "/auth/open_id?openid_url=yahoo.com" do %>
          <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/yahoo_32.png", :alt => "Yahoo" %>
        <%- end %>
      <% end %>
    </hgroup>
    <hgroup class="logo">
      <%= image_tag "logo.png", :alt =>"Investopresto Surveys" %>
      <span id="surveys" class="tag">Surveys</span>
    </hgroup>
  </div>
</header>
<div class="clear"></div>

<div id="wrapper" class="container">
  <div id="main">
    <%- flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => name if msg.is_a?(String) %>
    <%- end %>

    <%= yield %>
  </div>
  <aside>
    <section id="facebook">
      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like-box" data-href="http://www.facebook.com/investopresto" data-width="202" data-show-faces="true" data-stream="false" data-header="false"></div>
    </section>
    <section id="twitter">
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 4,
          interval: 30000,
          width: 202,
          height: 300,
          theme: {
            shell: {
              background: '#f0f2f5',
              color: '#3b5898'
            },
            tweets: {
              background: '#ffffff',
              color: '#0a0a0a',
              links: '#050505'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: false,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('investopresto').start();
      </script>
    </section>
  </aside>
</div>
<footer>
  <div class="container">
    <p>All your bases are belong to us!! &copy; 2011 Investopresto</p>
  </div>
</footer>
</body>
</html>
